extends layout
block preStyles
  link(rel='stylesheet', href='/vendor/prettyPhoto.css')

block styles
  link(rel='stylesheet', href='/css/index.css')

block preScripts
  script(src='vendor/lazysizes.min.js')

block content
  if (!loggedInUser)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (loggedInUser)
    p You are currently logged in as #{loggedInUser.username}
    a(href="/invite") Invite a friend
    br
    a(href="/logout") Logout
    br
    .dropdown
      a(href="#", data-toggle="dropdown").dropdown-toggle Upload Files

      ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
        li
          div.container
            div.row
              div.span12
                form(id='upload', action="/uploadFiles", method="post", enctype="multipart/form-data")
                  input(id='files-select', type="file", name="uploads[]", multiple="multiple", accept="image/*")
                  p
                  div.form-actions
                    input.btn.btn-primary(type='submit', value='Upload')
                  ul

    script.
      $('.dropdown-toggle').dropdown()

    if(images && typeof(images) === 'Array')
    br
    br
    div.container
      - var newImgArray = convertArrayInto2DArray(images);
        div.row.top-buffer
          each row in newImgArray
            div.row
              each img in row
                span
                - var urlSplit = img.flickrUrl.split('.');
                - var baseUrl = urlSplit.splice(0,urlSplit.length-1).join('.');
                - var extension = urlSplit[urlSplit.length-1];
                - var data_srcset= baseUrl + "_q." + extension + " 300w," + baseUrl + "_z." + extension + " 600w," + baseUrl + "_h." + extension + " 900w";
                a.col-md-2(rel="prettyPhoto[gallery]", href=img.flickrUrl, alt=img.name)
                  img.img-responsive.pull-left.lazyload(height='126.67px', width='126.67px', src=baseUrl + "_q." + extension, data-srcset=data_srcset)

  - function convertArrayInto2DArray(array) {
    - var newArr = [];
    - while(array.length) newArr.push(array.splice(0,6));
    - delete array;
    - //noinspection JSAnnotator
    - return newArr;
  - }

block postScripts
  script(src='/vendor/jquery.prettyPhoto.js')
  script(src='/js/index.js')
  script(src="vendor/jquery.knob.js")
  script(src="vendor/jquery.ui.widget.js")
  script(src="vendor/jquery.iframe-transport.js")
  script(src="vendor/jquery.fileupload.js")
