extends layout

block preStyles
  link(rel='stylesheet', href='/vendor/prettyPhoto.css')
  link(rel='stylesheet', href='/vendor/responsivelylazy.min.css')

block styles
  link(rel='stylesheet', href='/css/index.css')


block content
  if (!loggedInUser)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (loggedInUser)
    p You are currently logged in as #{loggedInUser.username}
    a(href="/invite") Invite a friend
    br
    a(href="/logout") Logout
    br
    .dropdown
      a(href="#", data-toggle="dropdown").dropdown-toggle Upload Files

      ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
        li
          div.container
            div.row
              div.span12
                form(id='upload', action="/uploadFiles", method="post", enctype="multipart/form-data")
                  input(id='files-select', type="file", name="uploads[]", multiple="multiple", accept="image/*")
                  p
                  div.form-actions
                    input.btn.btn-primary(type='submit', value='Upload')
                  ul

    script.
      $('.dropdown-toggle').dropdown()

    button(id="toggleSelectMode") Enter Select Mode
    if(images && typeof(images) === 'Array')
    br
    br
    div.container
      - var newImgArray = convertArrayInto2DArray(images);
      - var i = 0;
        div.row.top-buffer.selectable.ui-selectable(id='selectArea')
          each row in newImgArray
            each img in row
              - var urlSplit = img.flickrUrl.split('.');
              - var baseUrl = urlSplit.splice(0,urlSplit.length-1).join('.');
              - var extension = urlSplit[urlSplit.length-1];
              - var data_src= baseUrl + "_q." + extension;
              - var data_srcset= baseUrl + "_q." + extension + " 100w," + baseUrl + "_z." + extension + " 600w," + baseUrl + "_b." + extension + " 900w";
              a.col-sm-8.col-md-4.col-lg-2(rel="prettyPhoto[gallery]", href=img.flickrUrl, alt=img.name)
                img.responsively-lazy.ui-widget-content.ui-selectee(alt="" style="width: 126.667px; height: 126.667px;", src=img.flickrUrl, data-srcset=data_src, srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
    div.footer
      a.btn.btn-info.btn-lg
        div(style="float: left; margin-right:5px") Delete Photos
        div.glyphicon.glyphicon-trash(style="float: right;")



  - function convertArrayInto2DArray(array) {
    - var newArr = [];
    - while(array.length) newArr.push(array.splice(0,6));
    - delete array;
    - //noinspection JSAnnotator
    - return newArr;
  - }

block postScripts
  script(src='/vendor/jquery.prettyPhoto.js')
  script(async src='/vendor/responsivelyLazy.min.js')
  script(src="vendor/jquery.knob.js")
  script(src="vendor/jquery-ui.min.js")
  script(src="vendor/jquery.iframe-transport.js")
  script(src="vendor/jquery.fileupload.js")
  script(src='/js/index.js')

